.card{
    color: black;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    margin: 15px;
    backdrop-filter: blur(20px);
}

.cardImage{
    border-radius: 40px;
    object-fit: cover;
}

.cardBody{
    font-size: 18px;
    font-weight: bold;
}
p{
    margin: 5px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }