.App {
   text-align: center;
   display: flex;
   justify-content: space-around;
   background-image: url('../src/img/rick.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
